.card-wrapper {
  display: flex;
  flex-direction: column;
}

.card-wrapper header {
  display: flex;
  align-items: center;
  justify-content: left;
  
  margin-left: calc(9.25rem - 3.5rem);
  margin-top: calc(7.25rem - 3.5rem);
  padding: 40px 34px;
}

/*
.card-wrapper header h4 {
  font-size: 1.25rem;
  color: var(--title);
}

.card-wrapper header h3 {
  font-size: 1.25rem;
  color: var(--title);
}

.card-wrapper header a {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 10px 24px;

  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid var(--primary);

  background-color: transparent;

  cursor: pointer;
  transition: filter .2s;
}

.card-wrapper header a:hover {
  filter: brightness(0.8);
}

.card-wrapper .input-group {
  margin: 0 auto;
}

.card-wrapper .input-group h4 {
  text-align: center;
  margin-top: 1.625rem;
}

.card-wrapper .input-group h4::after {
  content: "";
  display: block;

  width: 56px;
  height: 2px;

  background-color: var(--title);

  margin: 1.625rem auto 3rem;
}

.card-wrapper .input-group table {
  margin: 0 auto;
  overflow-x: auto;
}

.card-wrapper .input-group table td {
  padding: 0.5rem;
}

.card-wrapper .input-group table td input {
  width: 12rem;
  height: 3.5rem;

  border: 2px solid var(--primary);
  border-radius: 16px;

  text-align: center;
}

.card-wrapper .input-group table td input:focus {
  outline-color: var(--text);
}
*/
.card-wrapper button {
  display:  inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 40%;  
  transform: translateX(-50%);

  width: calc(10.5rem - 2px);
  height: calc(3.75rem - 2px);

  margin: 0.25rem auto 0.625rem auto;


  font-size: 17px;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;

  background-color: var(--primary);

  border: 2px solid var(--primary);
  border-radius: 16px;

  cursor: pointer;
  transition: .2s;
}

.card-wrapper button:hover {
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);


}

@media screen and (max-width: 1024px) {
  .card-wrapper .input-group table td {
    padding: 0.25rem;
  }

  .card-wrapper .input-group table td input {
    width: 10rem;
    height: 100%;

    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .card-wrapper header {
    padding: 0 5rem;
  }

  .card-wrapper .input-group table td input {
    width: 6rem;
    height: 100%;

    padding: 0.5rem;

    font-size: 0.75rem;
  }
}

@media screen and (max-width: 425px) {
  .card-wrapper header {
    padding: 0 3rem;
  }

  .card-wrapper header a {
    gap: 0.5rem;
    padding: calc(0.75rem - 2px) calc(3rem - 24px);
    font-size: 1rem;
  }
}