.card-wrapper {
  display: flex;
  flex-direction: column;
}

.card-wrapper header {
  align-items: center;
  justify-content: left;
  
  margin-left: 3.5rem;
  margin-bottom: 2.5rem;
  margin-top: 1.25rem;
  padding: 1px 2px;
}

.card-wrapper .chart {
  justify-content: center;
  margin-left: 8.5rem;

}

.card-wrapper button {
  display:  inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 37%;  
  transform: translateX(-50%);
  width: 24.3%;
  
  height: calc(2.75rem - 2px);

  margin: 0.22rem auto 0.22rem auto;


  font-size: 15px;
  font-weight: bold;
  color: rgb(5, 0, 65);
  background-color: rgba(255, 255, 255, 0.753);
  
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  
  border: 2px solid rgb(66, 21, 0);
  border-radius: 5px;

  cursor: pointer;
  transition: .2s;
}

.card-wrapper button:hover {
  color: var(--white);
  background-color: rgb(38, 96, 253);
  border: 2px solid black;


}

@media screen and (max-width: 1024px) {
  .card-wrapper{
    padding: 0.25rem;
  }

}

@media screen and (max-width: 768px) {
  .card-wrapper header {
    padding: 0.25rem;
  }

  .card-wrapper button {
    margin: 0.15rem auto 0.15rem auto;
    left: 30%;  
    width: 28.3%;
    font-size: 11px;
  }
}

@media screen and (max-width: 425px) {

  .card-wrapper button {
    margin: 0.1rem auto 0.1rem auto;
    left: 25%;  
    width: 28.3%;
    font-size: 9px;
  }
}

/*
.card-wrapper header h4 {
  font-size: 1.25rem;
  color: var(--title);
}

.card-wrapper header h3 {
  font-size: 1.25rem;
  color: var(--title);
}

.card-wrapper header a {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 10px 24px;

  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid var(--primary);

  background-color: transparent;

  cursor: pointer;
  transition: filter .2s;
}

.card-wrapper header a:hover {
  filter: brightness(0.8);
}

.card-wrapper .input-group {
  margin: 0 auto;
}

.card-wrapper .input-group h4 {
  text-align: center;
  margin-top: 1.625rem;
}

.card-wrapper .input-group h4::after {
  content: "";
  display: block;

  width: 56px;
  height: 2px;

  background-color: var(--title);

  margin: 1.625rem auto 3rem;
}

.card-wrapper .input-group table {
  margin: 0 auto;
  overflow-x: auto;
}

.card-wrapper .input-group table td {
  padding: 0.5rem;
}

.card-wrapper .input-group table td input {
  width: 12rem;
  height: 3.5rem;

  border: 2px solid var(--primary);
  border-radius: 16px;

  text-align: center;
}

.card-wrapper .input-group table td input:focus {
  outline-color: var(--text);
}
*/