/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a17c66; /*linear-gradient(147deg, #160901 0%, #291305 100%); linear-gradient(147deg, #5f3216 0%, #774120 100%); */
  background-image:  linear-gradient(183.41deg, #ac9071 -8.57%, #b97040 82.96%);
  padding: 3.5rem 8rem;
}

/* ------------------------ Header Buttons --------------------------*/

.header .button-area .home-button{
  padding: calc(1.1rem - 2px) calc(2.4rem - 24px);
  
  font-size: 15px;
  font-weight: bold;
  color: var(--white); 
  text-decoration: none;

  border-radius: 15px;
  border: 2px solid rgb(38, 96, 253);
  background-color:  rgba(1, 1, 12);

  cursor: pointer;
  transition: filter .2s;
}

.header .button-area .home-button:hover {
  filter: brightness(0.8);
  color: rgb(1, 1, 12);
  background-color: var(--white);
}


.header .button-area .logout-button {

  padding: calc(1.1rem - 2px) calc(2.4rem - 24px);

  font-size: 15px;
  font-weight: bold;
  color: var(--white); 
  text-decoration: none;

  border-radius: 15px;
  border: 2px solid rgb(38, 96, 253);
  background-color:  rgb(1, 1, 12);

  cursor: pointer;
  transition: filter .2s;
}

.header .button-area .logout-button:hover {
  filter: brightness(0.8);
  color: rgb(1, 1, 12);
  background-color: var(--white);
}

.header .button-area .login-button {
  padding: calc(1.1rem - 2px) calc(2.15rem - 24px);
  margin-left: 0.5rem;


  font-size: 15px;
  font-weight: bold;
  color:  var(--white); 
  
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid rgb(38, 96, 253);
  background-color:  rgb(1, 1, 12);


  cursor: pointer;
  transition: filter .2s;
}

.header .button-area .login-button:hover {
  filter: brightness(0.8);
  color: rgb(1, 1, 12);
  background-color: var(--white);
}



.header .button-area .register-button {
  padding: calc(1.1rem - 2px) calc(2.15rem - 24px);
  margin-left: 0.5rem;

  font-size: 15px;
  font-weight: bold;
  color: var(--white); 
  text-decoration: none;

  border-radius: 15px;
  border: 2px solid rgb(38, 96, 253);
  background-color: rgb(1, 1, 12);

  cursor: pointer;
  transition: filter .2s;
}

.header .button-area .register-button:hover {
  filter: brightness(0.8);
  color: rgb(1, 1, 12);
  background-color: var(--white);
}



/* ------------------------ Header Nav --------------------------*/


.header nav .nav__link:hover {
  filter: brightness(0.8);
}




/*
.header .button-area .menu {
  display: none;
  
  font-size: 0;
  background-color: transparent;
  border: none;
}
*/

.mobile-nav {
  display: none;

  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 100%;
  
  background-color: var(--white);
  
  z-index: 100;
}

.mobile-nav.active {display: block;}

.mobile-nav .close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  font-size: 0;
  border: 0;
  background-color: transparent;
}

.mobile-nav nav .nav__link {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translate(-50%);

  font-size: 1.875rem;
  font-weight: bold;
  color: var(--text-alt);

  text-decoration: none;
  transition: filter .2s;
}

.mobile-nav nav .nav__link:hover {
  filter: brightness(0.8);
}

.mobile-nav .button-area {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.mobile-nav .button-area .logout-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(25.5rem - 2px);
  height: calc(3.75rem - 2px);

  font-size: 15px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;

  border-radius: 15px;
  border: 2px solid blue;

  background-color: transparent;

  cursor: pointer;
  transition: filter .2s;
}

.mobile-nav .button-area .logout-button:hover {
  filter: brightness(0.8);
}

.mobile-nav .button-area .login-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(10.5rem - 2px);
  height: calc(3.75rem - 2px);

  font-size: 15px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;

  border-radius: 15px;
  border: 2px solid var(--primary);

  background-color: transparent;

  cursor: pointer;
  transition: filter .2s;
}

.mobile-nav .button-area .login-button:hover {
  filter: brightness(0.8);
}

.mobile-nav .button-area .register-button .home-button{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: calc(1.1rem - 2px) calc(2.15rem - 24px);

  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;

  background-color: var(--primary);

  border: 2px solid var(--primary);
  border-radius: 15px;

  cursor: pointer;
  transition: filter .2s;
}

.mobile-nav .button-area .home-button .register-button:hover {
  filter: brightness(0.8);
}


/* ------------------------ Others Screens --------------------------*/


@media screen and (max-width: 1024px) {
  .header .button-area .register-button,
  .header .button-area .home-button,
  .header .button-area .logout-button,
  .header .button-area .login-button{
    padding: calc(1.1rem - 2px) calc(1.8rem - 24px);
    font-size: 13px;
    display: inline;
  }
}

@media screen and (max-width: 768px) {
    .header .button-area .register-button,
    .header .button-area .home-button,
    .header .button-area .logout-button,
    .header .button-area .login-button{
      padding: calc(1.1rem - 2px) calc(1.8rem - 24px);
      font-size: 13px;
      position: relative;
      left: 50%;
    }
    .header .button-area .logo {
      position: absolute;
      top: 5%;
      left: 10%;
      }
  }

  


@media screen and (max-width: 600px) {
      .header .button-area .register-button,
      .header .button-area .home-button,
      .header .button-area .logout-button,
      .header .button-area .login-button{
        padding: calc(1.1rem - 2px) calc(1.8rem - 24px);
        font-size: 10px;
      }

      .header .button-area .logo {
        position: absolute;
        top: 5%;
        left: 5%;   

        }
  }

  @media screen and (max-width: 475px) {
    .header .button-area .login-button{
      display: none;
    }
}

  .mobile-nav .button-area {
    flex-direction: column;
  }