/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a17c66; /*linear-gradient(147deg, #160901 0%, #291305 100%); linear-gradient(147deg, #5f3216 0%, #774120 100%); */
  background-image:  linear-gradient(183.41deg, #ac9071 -8.57%, #b97040 82.96%);
  padding: 3.5rem 8rem;
}

.header .home-button{
  padding: 1rem 2.75rem;
  margin-left: 1.5rem;

  font-size: 18px;
  font-weight: bold;
  color: var(--white); 
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid rgb(38, 96, 253);
  background-color:  rgba(1, 1, 12);

  cursor: pointer;
  transition: filter .2s;
}

.header nav .nav__link:hover {
  filter: brightness(0.8);
}

.header .button-area .logout-button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: calc(1.1rem - 2px) calc(4.75rem - 24px);

  font-size: 18px;
  font-weight: bold;
  color: var(--white); 
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid rgb(38, 96, 253);

  background-color:  rgb(1, 1, 12);


  cursor: pointer;
  transition: filter .2s;
}

.header .button-area .logout-button:hover {
  filter: brightness(0.8);
}

.header .button-area .login-button {
  padding: calc(1rem - 2px) 4.15rem;

  font-size: 18px;
  font-weight: bold;
  color:  var(--white); 
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid rgb(38, 96, 253);

  background-color:  rgb(1, 1, 12);

  cursor: pointer;
  transition: filter .2s;
}

.header .button-area .login-button:hover {
  filter: brightness(0.8);
}

.header .button-area .register-button {
  padding: 1rem 2.75rem;
  margin-left: 1.5rem;

  font-size: 18px;
  font-weight: bold;
  color: var(--white); 
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid rgb(38, 96, 253);
  background-color: rgb(1, 1, 12);


  cursor: pointer;
  transition: filter .2s;

}

.header .button-area .home-button .register-button:hover {
  filter: brightness(0.8);
}

.header .button-area .menu {
  display: none;
  
  font-size: 0;
  background-color: transparent;
  border: none;
}

.mobile-nav {
  display: none;

  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 100%;
  
  background-color: var(--white);
  
  z-index: 100;
}

.mobile-nav.active {display: block;}

.mobile-nav .close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  font-size: 0;
  border: 0;
  background-color: transparent;
}

.mobile-nav nav .nav__link {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translate(-50%);

  font-size: 1.875rem;
  font-weight: bold;
  color: var(--text-alt);

  text-decoration: none;
  transition: filter .2s;
}

.mobile-nav nav .nav__link:hover {
  filter: brightness(0.8);
}

.mobile-nav .button-area {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.mobile-nav .button-area .logout-button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  width: calc(18.5rem - 2px);
  height: calc(3.75rem - 2px);

  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid blue;

  background-color: transparent;

  cursor: pointer;
  transition: filter .2s;
}

.mobile-nav .button-area .logout-button:hover {
  filter: brightness(0.8);
}

.mobile-nav .button-area .login-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(12.5rem - 2px);
  height: calc(3.75rem - 2px);

  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;

  border-radius: 55px;
  border: 2px solid var(--primary);

  background-color: transparent;

  cursor: pointer;
  transition: filter .2s;
}

.mobile-nav .button-area .login-button:hover {
  filter: brightness(0.8);
}

.mobile-nav .button-area .register-button .home-button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(12.5rem - 2px);
  height: calc(3.75rem - 2px);

  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;

  background-color: var(--primary);

  border: 2px solid var(--primary);
  border-radius: 55px;

  cursor: pointer;
  transition: filter .2s;
}

.mobile-nav .button-area .home-button .register-button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 1024px) {
  .header nav .nav__link,
  .header .button-area .logout-button,
  .header .button-area .login-button,
  .header .button-area .register-button .home-button {display: none;}

  .header .button-area .menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 3.5rem 5rem;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 3.5rem 3rem;
  }

  .mobile-nav .button-area {
    flex-direction: column;
  }
}