{% extends "user/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block start %}

<div class="benefits-wrapper">
  <header>
    <h4>Olá, {{user.username}}!</h4>
    <a href="{% url 'index' %}">
      <img src="{% static 'images/shopkeeper/icons/arrow-left.svg' %}" alt="Voltar">
      Retornar
   </a>
  </header>

  <button class="benefits-button">Ver meus benefícios</button>

  <form onsubmit="handleSubmit(event)">
    <input type="number" step=".01" required class="input-value" placeholder="Valor da compra">

    <input type="password" placeholder="Inserir código" class="password">
    <input type="submit" value="Validar nova compra" class="submit-button">
  </form>
</div>


<div class="wrapper">

  <script text="text/javascript">
  let cliente = ''
  let data = ''
  let quantidade = 0
  let valor = ''

  window.onpopstate = function(event) {
    console.log(event.state.section);
    showSection(event.state.section);
  }


  jQuery( document ).ready(function( $ ) {

  //Use this inside your document ready jQuery 
    $(window).on('popstate', function() {
    location.reload(true);
    });
  });

  // Shows given section
  function showSection(section){

    // Find section text from server
    fetch(`/sections/${section}`)
      .then(response => response.blob())
      .then(imageBlob => {
        const contents = document.querySelector('.benefits-wrapper')
        contents.setAttribute("style", "display: flex; flex-direction: column; align-items: center; justify-content: center;")
        
        var img = document.createElement('img');
        img.setAttribute("style", "max-width: 37.5rem; max-height: 21rem; margin-bottom: 16px;")
        img.src = URL.createObjectURL(imageBlob);
        contents.innerHTML = img.outerHTML;
        contents.innerHTML += '<button class="benefits-button back-button">Voltar</button>'

        const backButton = document.querySelector('.back-button')
      
        backButton.addEventListener("click", function () {
          history.back();
        });
      });
  }
      var Counter1 = localStorage.getItem("VarKey1");
      
      linebreak = document.createElement("br");
      document.body.appendChild(linebreak);

      function getUsername() {
        const h4 = document.querySelector('.benefits-wrapper header h4').textContent
        let name = h4.replace('Olá, ', '')
        name = name.replace('!', '')
        
        return name;
      }

      cliente = getUsername()

      if (Counter1 === "NaN") {
      //      
      var counter = 0;
      }
      else if (Counter1 === "11" ){
        
        alert("Parabéns, você ganhou beneficios para a sua compra atual.");
        var counter = 0;
        quantidade = counter
        
      }
      else{
        var integer = parseInt(Counter1, 10);
        var counter = integer;      
        quantidade = counter  
      }

      const inputValue = document.querySelector('.input-value')
      const codePassword = document.querySelector('.password'); 
      const buttonSubmit = document.querySelector('.submit-button')
      const botaoBeneficios = document.querySelector('.benefits-button')

      botaoBeneficios.addEventListener('click', () => {
        const section = localStorage.getItem("VarKey1");  
        history.pushState({section: section}, "", `section${section}`);
        showSection(section);
      })
      

      async function handleSubmit(event) {
        event.preventDefault()

        if (codePassword.value === "1") {

          inputValue.setAttribute("type", "hidden")
          codePassword.setAttribute("type", "hidden");
          buttonSubmit.setAttribute("type", "hidden");
          alert("Código válido, compra validada.");

          valor = inputValue.value
          
          counter += 1;
          localStorage.setItem("VarKey1", counter);          
                
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();

          today = dd + '/' + mm + '/' + yyyy;
          localStorage.setItem("VarKey2", today);  
          
          data = today;
          botaoBeneficios.setAttribute("style", "display: block;")
          botaoBeneficios.addEventListener('click', () => {
            const section = localStorage.getItem("VarKey1");  
            history.pushState({section: section}, "", `section${section}`);
            showSection(section);
          })
        } else {
          alert("Código inválido, tente novamente.");  
        }

        const months = [
          "Janeiro", "Fevereiro", "Março",
          "Abril", "Maio", "Junho",
          "Julho", "Agosto", "Setembro",
          "Outubro", "Novembro", "Dezembro"
        ]

        body = {
          "Nome": cliente,
          "Valor": parseInt(valor * 100),
          "Quantidade": quantidade,
          "Data": data,
          "Loja": localStorage.getItem("@e-fidelity:storeName"),
          "Mês": months[Number(data.slice(3, 5)) - 1],
          "Ano": Number(data.slice(6))
        }

        localStorage.removeItem("@e-fidelity:storeName")

        postData('http://localhost:3333/insertData', body)
      }

      function postData(url, body) {
        let request = new XMLHttpRequest()
        request.open("POST", url, true)
        request.setRequestHeader("Content-type", "application/json")
        request.send(JSON.stringify(body))

        return request.responseText;
      }
  </script>

</div> 






{% endblock start %}