{% extends "user/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block start %}

<main class="faithful-customers-wrapper">
  <header>
    <h4>Olá, {{user.last_name}}!</h4>
    <a href="{% url 'index' %}">
      <img src="{% static 'images/shopkeeper/icons/arrow-left.svg' %}" alt="Voltar">
      Retornar
    </a>
  </header>

  <div class="table-wrapper">
    <table>
      <thead>
        <th>Cliente</th>
        <th>Valor da compra</th>
        <th>Quantidade</th>
        <th>Data de compra</th>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>

  <script>
    const welcomeMessage = document.querySelector('header h4').textContent
    let name;

    function getName() {
      name = welcomeMessage.replace('Olá, ', '')
      name = name.replace('!', '')

      return name;
    }

    async function getData() {
      try {
        const response = await fetch(`https://e-fidelity-backend.herokuapp.com/store/${getName()}`)
          .then(response => {
            return response.json();
          })
          .then(data => insertData(JSON.parse(JSON.stringify(data))))
      } catch (error) {
        console.log(error)
      }
    }

    function insertData(data) {
      const tbody = document.querySelector('tbody')

      for (let i in data) {
        const tr = `
          <tr>
            <td>${data[i].Nome}</td>
            <td>R$ ${data[i].Valor / 100}</td>
            <td>${data[i].Quantidade}</td>
            <td>${data[i].Data}</td>
          </tr>`

        tbody.innerHTML += tr
      }
    }
  
    getData()
  </script>
</main>

{% endblock start %}



