{% extends "user/index.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block start %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">

  <style>
    .container button {
  font-size: 17px;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;

  background-color: rgb(38, 96, 253);

  border: 2px solid rgb(38, 96, 253);
  border-radius: 5px;

  cursor: pointer;
  transition: .4s;
  }

  .container button:hover {
  color: var(--primary);
  background-color: transparent;
  border: 2px solid rgb(38, 96, 253);
  }


  </style>

 <div class="container" style="max-width: 80vw;">
  <br> <br/>
  <br> <br/>
  <center>
    <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group mb-3">
      {{ form|crispy}}
    </fieldset>
    <button class="btn btn-primary" type="submit"><strong>Fazer login</strong></button>
     <br> <br/>
  <sub><a href="{% url 'register' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%; font-size: 14px;">Ainda não tem conta no BodeTech? Cadastra-se aqui.</a></sub>
  </form>
  </center>
 </div>
{% endblock start %}