{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
  <br> <br/>
  <br> <br/>
  <form method="POST">
    <fieldset class="form-group mb-3">
      {{ form|crispy}}
    </fieldset>
    <center>
      <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; Cadastrar</button>
    </center>
    <br />
    <center>
      <sub><a href="{% url 'login' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%; font-size: 14px;">Já tem uma conta na BodeTech? Entrar na minha conta.</a></sub>
    </center>
  </form>
  <br> <br/>
</div>
{% endblock start %}